<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <receiver android:name=".CustomNCBroadcastReceiver">
            <intent-filter>
                <action android:name="custom_push_notification_cancelled"/>
                <action android:name="custom_push_notification_clicked"/>
            </intent-filter>
        </receiver>

        <activity android:name=".PushTestActivity" />

    </application>
</manifest>