<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.tmf.module.portal">

    <application>
        <activity
            android:name=".DynamicRouteActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".InterceptorActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".WithResultActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".NoResultActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".PortalActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
    </application>

</manifest>