<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.tmf.module.storage">
    <application>
        <activity android:name=".StorageActivity" android:screenOrientation="portrait"/>
        <activity android:name=".StorageSelectActivity" android:screenOrientation="portrait"/>
        <activity android:name=".file.FileActivity" android:screenOrientation="portrait"/>
        <activity android:name=".db.DBActivity" android:screenOrientation="portrait"/>
        <activity android:name=".db.cruddb.CRUDActivity" android:screenOrientation="portrait"/>
        <activity android:name=".db.encryptdb.EncryptDbActivity" android:screenOrientation="portrait"/>
        <activity android:name=".db.repairdb.RepairDbActivity" android:screenOrientation="portrait"/>
        <activity android:name=".kv.KVActivity" android:screenOrientation="portrait"/>
        <activity android:name=".kv.KVSimpleActivity" android:screenOrientation="portrait"/>

        <service
            android:name=".kv.MyService"
            android:enabled="true"
            android:exported="false"
            android:process=":mmkvdemo_svr">
            <intent-filter>
                <action android:name="com.tencent.tmf.storage.app.kv.MyService" />
            </intent-filter>
        </service>
        <service
            android:name=".kv.MyService1"
            android:enabled="true"
            android:exported="false"
            android:process=":mmkvdemo_svr_1">
            <intent-filter>
                <action android:name="com.tencent.tmf.storage.app.kv.MyService_1" />
            </intent-filter>
        </service>

        <provider
            android:name=".kv.MultiProcessSharedPreferences"
            android:authorities=".MultiProcessSharedPreferences"
            android:exported="false"
            android:process=".MultiProcessSharedPreferences" />
        <provider
            android:name="com.tencent.mmkv.MMKVContentProvider"
            android:authorities="com.tencent.tmf.storage.app.kv.MMKVContentProvider"
            android:exported="false" />
    </application>
</manifest>