<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.tmf.module.location">
    <!--腾讯地图 SDK 要求的权限(开始)-->
    <!--访问网络获取地图服务-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--检查网络可用性-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--需要外部存储写权限用于保存地图缓存-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--获取 device id 辨别设备-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--腾讯地图 SDK 要求的权限(结束)-->

    <application>
        <!-- 您的发布产品中请不要使用这个 key !!! -->
        <!--小程序SDK中已包含，因此无需再添加-->
        <!--<meta-data
            android:name="TencentMapSDK"
            android:value="${TENCENT_MAP_KEY}" />-->
        <!-- 设置key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${AMAP_KEY}" />

        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".ui.LocationActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.locationreport.LocationReportActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.AMapH5LocationActivity" android:screenOrientation="portrait" />
    </application>
</manifest>