<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.tmf.module.conch">
    <application>
        <!--module-云指令 start-->
        <activity android:name="com.tencent.tmf.module.conch.ConchActivity" android:screenOrientation="portrait"/>
        <!--module-云指令 end-->
    </application>
</manifest>