<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.tmf.module.shark">
    <application>
        <!--module-网关 start-->
        <activity android:name="com.tencent.tmf.module.shark.activity.SharkPocActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tencent.tmf.module.shark.activity.SharkActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tencent.tmf.module.shark.activity.DeviceIdActivity" android:screenOrientation="portrait"/>
        <!--module-网关 end-->
    </application>

</manifest>